.blocSettings {
    position: relative;
    width: calc(100% - 40px);
    min-width: 195px;
    z-index: 0;
    border: solid 2px #EBEBEB;
    font-size: 13px;
}

.divSettings {
    width: calc(100% - 20px);
    min-width: 175px;
    height: 72px;
    margin: 10px;
    padding: 8px 10px;
    box-sizing: border-box;
    border: solid 1px black;
}
.champsSettings {
	margin-top: 7px;
	height: 26px;
	width: calc(100% - 80px);
	padding: 0 20px;
	font-family: Ubuntu-Bold;
	color: #403866;
	font-size: 18px;
	font-weight: bold;
}

.champsSettingsPP {
    margin-top: 7px;
    height: 26px;
    /* width: calc(100% - 80px); */
    /* padding: 0 20px; */
    /* font-family: Ubuntu-Bold; */
    /* color: #403866; */
    /* font-size: 18px; */
    font-weight: bold;
}

.validSettings {
    padding-left: 5px;
    vertical-align: sub;
    color: grey;
    ri: right;
}